@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
}

html, body {
  min-height: 100vh;
  background-color: darkgrey;
}

header{
  background-color: #252525;
  color: white;
  text-align: center;
}

header > h1{
  padding-top: 50px;
  /* text-transform: uppercase; */
  font-variant: small-caps;
}

header > p{
  padding-bottom: 50px;
}

header a, footer a{
color: whitesmoke;
text-decoration: none;
font-weight: bolder;
}

header a:hover, footer a:hover{
  text-decoration: underline;
}

section{
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
padding-left: 30px;
}

section.normal{
  background-color: whitesmoke;
  color: #252525;
}

section.imagem{
  background-color: aquamarine;
  color: blueviolet;
}

section.imagem > p{
  background-color: #252525c0;
  width: 400px;
}

footer{
  background-color: #252525;
  text-align: center;
  color: whitesmoke;
  padding: 10px;
}